---
layout: default
title: News
---

<div class="uk-section" id = "po">
    <div class="uk-container uk-container">
        {% for post in paginator.posts %}
        <div class="uk-card-hover uk-inline uk-width-1-1 uk-margin">
            <a class="uk-position-cover" href="{{ post.url | relative_url }}"></a>
            <!-- <div class="
            uk-card-header"> -->
               <!--  <div class="uk-grid-small uk-flex-middle" uk-grid>
                    {% if page.author %}
                      {% assign author = site.authors[page.author] %}
                    {% else %}
                      {% assign author = site.author %}
                    {% endif %}

                    <div class="uk-width-auto">
                        
                    </div>
                    
                </div> -->
            <!-- </div> -->
           
            <div class="uk-card-header">
                <h1 class="uk-article-title">{{ post.title | escape }}</h1>
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <p class="uk-text-meta uk-margin-remove-top"><time datetime="{{ post.date | date_to_xmlschema }}">
                            {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
                            {{ post.date | date: date_format }}
                        </time></p>
                </div>
            </div>
      <div class="uk-card-badge ">           
  {% for tag in post.tags %}
 <div class ="uk-label">
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tag/tagpage/index.html?id={{ tag_name }}" style="color:white">{{ tag_name }}</a>
    </div>
  {% endfor %}
</div>


            </div>
            <div class = "uk-card-body">
                {{ post.excerpt  }}
            </div>
            <div class="uk-card-footer">
                <span class="uk-button uk-button-text">Read more &rarr;</span>
            </div>

        </div>
        <hr>
        {% endfor %}

        {% include paginate-blog.html %}

    </div>
</div>
