<div id="offcanvas" data-uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" data-uk-close></button>

        <ul class="uk-nav uk-nav-default">
            <li><a class="uk-logo uk-margin-small-bottom" href="{{ "/" | relative_url }}">{% if site.brand.image %}<img src="{{ site.post_assets | absolute_url }}{{ site.brand.image }}" alt="{{ site.brand.text }}">{% else %}{{ site.brand.text }}{% endif %}</a></li>
             {% for link in site.header %}
                    {% if link.url contains 'http' %}
                        {% assign domain = '' %}
                    {% else %}
                        {% assign domain = site.url %}
                    {% endif %}
                    {% if link.url == page.url %}
                        {% assign current = ' class="uk-active"' %}
                    {% else %}
                        {% assign current = null %}
                    {% endif %}
                    {% if link.title %}
                        
                   {% if link.url contains 'http' %} 
                    <li{{ current }}><a href="{{ link.url }}" style="color: black;" target="_blank"; >{{ link.title }}</a> 
                 </li>
                   {% else %} 
                    <li{{ current }}><a href="{{ domain }}/{{ site.github_info.website-repo }}/{{ link.url }}" style="color: black; ">{{ link.title }}</a> 
                 </li>
                 {% endif %}
                    {% endif %}
                {% endfor %}
                <li>
                <a href="https://github.com/{{ site.github_info.username }}/{{ site.github_info.website-repo }}/edit/master/{{page.path}}" target = "_blank"> <i class="fab fa-github" style="color: black; font-size: 1em;"></i></a>
               </li>
        </ul>

        <div class="uk-margin-small-top uk-text-center uk-text-muted uk-link-muted">
            <div data-uk-grid class="uk-child-width-auto uk-grid-small uk-flex-center uk-grid">
                {% include social-networks.html %}
            </div>
        </div>

    </div>
</div>
