{% if site.social.twitter %}

    <a href="{{ site.social.twitter }}"  data-uk-icon="icon: twitter; ratio: 1.5" class="uk-icon-link" target="_blank" style="padding-right: 2em; color:black;" ></a>

{% endif %}
{% if site.social.facebook %}

    <a href="{{ site.social.facebook }}" data-uk-icon="icon: facebook; ratio: 1.5" class="uk-icon" target="_blank" style="padding-right: 2em; color:black;"></a>

{% endif %}
{% if site.social.flickr %}

    <a href="{{ site.social.flickr }}" data-uk-icon="icon: flickr; ratio: 1.5" class="uk-icon-link uk-icon" target="_blank" style="padding-right: 2em; color:black;"></a>

{% endif %}
{% if site.social.dribbble %}

    <a href="{{ site.social.dribbble }}" data-uk-icon="icon: dribbble; ratio: 1.5" class="uk-icon-link uk-icon" target="_blank" style="padding-right: 2em; color:black;"></a>

{% endif %}
{% if site.social.instagram %}

    <a href="{{ site.social.instagram }}" data-uk-icon="icon: instagram; ratio: 1.5" class="uk-icon-link uk-icon" target="_blank" style="padding-right: 2em; color:black;"></a>

{% endif %}
{% if site.social.googleplus %}

    <a href="{{ site.social.googleplus }}" data-uk-icon="icon: google-plus; ratio: 1.5" class="uk-icon-link uk-icon" target="_blank" style="padding-right: 2em; color:black;"></a>

{% endif %}
{% if site.social.linkedin %}

    <a href="{{ site.social.linkedin }}" data-uk-icon="icon: linkedin; ratio: 1.5" class="uk-icon-link uk-icon" target="_blank" style="padding-right: 2em; color:black;"></a>

{% endif %}
{% if site.social.pinterest %}

    <a href="{{ site.social.pinterest }}" data-uk-icon="icon: pinterest; ratio: 1.5" class="uk-icon-link uk-icon" target="_blank" style="padding-right: 2em;  color:black;"></a>

{% endif %}
{% if site.social.vimeo %}

    <a href="{{ site.social.vimeo }}" data-uk-icon="icon: vimeo; ratio: 1.5" class="uk-icon-link uk-icon" target="_blank" style="padding-right: 2em; color:black;"></a>

{% endif %}
{% if site.social.youtube %}

    <a href="{{ site.social.youtube }}" data-uk-icon="icon: youtube; ratio: 1.5" class="uk-icon-link uk-icon" target="_blank" style="padding-right: 2em; color:black;"></a>

{% endif %}
{% if site.social.github %}

    <a href="{{ site.social.github }}" data-uk-icon="icon: github; ratio: 1.5" class="uk-icon-link uk-icon" target="_blank" style="padding-right: 2em; color:black;"></a>

{% endif %}
{% if site.social.email %}

    <a href="{{ site.social.email }}" data-uk-icon="icon: mail; ratio: 1.5" class="uk-icon-link uk-icon" target="_blank" style="padding-right: 2em; color:black;"></a>

{% endif %}
{% if site.social.website %}

    <a href="{{ site.social.website }}" data-uk-icon="icon: link; ratio: 1.5" class="uk-icon-link uk-icon" target="_blank" style="padding-right: 2em; color:black;"></a>

{% endif %}
