---
layout: default
---

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script> 
    $(function(){
      $("#posts").load("/news/index.html #po"); 
    });
    </script> 

<div id="posts"></div>

{% if page.cta %}
<div class="uk-section uk-text-center">
    <div class="uk-container uk-container-small">
        <div data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; repeat: true">
            <h3>{{ page.cta.title }}</h3>
            {% if page.cta.subtitle %}<p class="subtitle uk-text-lead uk-text-center">{{ page.cta.subtitle | escape }}</p>{% endif %}
            <a class="uk-button uk-button-primary uk-button-large button-cta" href="{{ domain }}{{ page.cta.button_url }}">{{ page.cta.button_text }}</a>
        </div>
    </div>
</div>
{% endif %}
