---
layout: default
---
<link rel="stylesheet" href="{{ "/css/post.css" | prepend: site.baseurl }}">
<div class="home">
 
  <hr> 
  <p style="text-align:center;">
   <br>
   <img src="assets/img/data-science-46.png" alt="ds4ps" height="50" width="50" align="middle">
   <br>
   <img src="assets/img/public-sector-blue2.jpg" alt="ds4ps" height="200" width="200" align="middle">
   </p>
   <div class="uk-container-small">

{{content}}
  

<br>
  <h2 style="text-align:center;">Data Science for the <br>Public Sector</h2>
  <br>
  <hr>
  
 <br>
 <br>
  <h1 class="page-heading">Blog Topics</h1>
<div>
  
<div id = "tagset">
  {% for tag in site.tags %}
  {% assign t = tag | first  %}
  <a class = "button" href = "{{ domain }}{{site.baseurl}}/tag/tagpage.html?id={{t}}">{{t}}</a>

{% endfor %}
</div>
</div>
<br>
<br>
<br>
<hr>
<br>
<br>
    
  <ul >
    {% for post in site.posts %}
      <li>
        <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->
       
       <!-- -------- BEGIN BLOG CARD ----------- -->

        <article style="min-height:300px;width:600px;">
        <!-- <div style = "display: inline-block;"> -->
         
        <!--  -------- BLOG DATE -----------  -->
         
        <div style="float:left;width:15%">
            <span class="date_day">{{ post.date | date: "%-d" }}</span>
            <span style="color:#337ab7;font-weight:bold;">{{ post.date | date: "%b, %Y" }}</span>
        </div>
         
         
        <!--  -------- BLOG BODY -----------  -->
        
         <div style = "float:left;width:85%">
          
           <a class = "post-css" href="{{ post.url | prepend: site.baseurl }}">
            <h4>{{ post.title }}</h4>
           </a>
           
          <div class = "uk-card-body">
                {{ post.excerpt  }}
          </div>
          
          
          <!--  ---- READ MORE BUTTON -----  -->
            
           <a class="button-simple" href="{{ post.url | prepend: site.baseurl }}">
             Read more &rarr;
           </a>
          
          <!--  ---- TAGS -----  -->
          
          <span>
            {% for tag in post.tags %}
            {% capture tag_name %}{{ tag }}{% endcapture %}
            
             <a class="button-tags" href="{{ domain }}{{site.baseurl}}/tag/tagpage.html?id={{ tag_name }}">
               {{ tag_name }}
             </a>
           
            {% endfor %}
          </span>
          
          
            <!-- <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">  -->
            <!--     <span class="button uk-button-text">                             -->
            <!--     Read more &rarr;</span>                                          -->
            <!--   </a>                                                               -->
          
          
      </div>   <!--  -------- END BLOG BODY -----------  -->
      <!-- </div> -->
      
       
      </article>  <!--  -------- END BLOG CARD -----------  -->
      
      <br>
      </li>
      <hr>
      <br>
      <br>

    {% endfor %}
  </ul>
  <br>
 
</div>
<br>
<br>
