---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title" style="color:white">{{ page.title }}
       <a href="https://github.com/DS4PS/ds4ps_dev_site/edit/master/{{page.path}}" target="_blank" style="float:right;">
       <i class="fab fa-github fa-1x" style="color:lightgray;text-align:right;"></i></a>
     </h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div align="center">
  	<a href="#">
  	<i class="fa fa-arrow-circle-up fa-2x"></i>
  	</a>
  </div>
  
</div>
