---
layout: default
---
<link rel="stylesheet" href="{{ "/css/post.css" | prepend: site.baseurl }}">
<div class="post">

  <header class="post-header">
     <br>
     <br>
     
     <h1 class="post-title">{{ page.title }}
     <a href="https://github.com/DS4PS/ds4ps_dev_site/edit/master/{{page.path}}" target="_blank" style="float:right;">
     <i class="fab fa-github fa-1x" style="color:lightgray;text-align:right;"></i>
     </h1> 
     </a>  
    
     <br>
     <p style="color:#337ab7;" class="post-meta">Posted on  • {{ page.date | date: "%b %-d, %Y" }} 
       {% if page.author %} • {{ page.author }}{% endif %}
       {% if page.meta %} • {{ page.meta }} {% endif %}  •
     </p>
    
    <div>
    <span>
        {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}

         <a class="button-tags" href="{{ domain }}{{site.baseurl}}/tag/tagpage.html?id={{ tag_name }}">
           {{ tag_name }}
         </a>

        {% endfor %}
    </span>
    </div>
    
  </header>
  

  
<br>
<br>

<div>
  <article class="post-content">
    {{ content }}
  </article>
</div>
  
<div align="center">
  	<a href="#">
  	<i class="fa fa-arrow-circle-up fa-2x"></i>
  	</a>
</div>

</div>
