---
layout: default
---
<link rel="stylesheet" href="{{ "/css/post.css" | prepend: site.baseurl }}">
	
	<div id = "post" class = "uk-container">
	{% for tag in site.tags %}
  {% assign t = tag | first  %}

  {% assign posts = tag | last %}
<ul style="display:none">
<h1  >Topic: {{ t  }}</h1>
{% for post in posts %}

{% if post.tags contains t  %}

<br>
<br>
  <li>

        <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->

        <article style="height:200px;width:600px;">
          <!-- <div style = "display: inline-block;"> -->
          <div style="float:left;width:15%">
            <span class = "date_day">{{ post.date | date: "%-d" }}</span>
            <span>{{ post.date | date: "%b, %Y" }}</span>
          </div>
          <div style = "float:left;width:85%">
        <a class = "post-css" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <div class = "uk-card-body">
                {{ post.excerpt  }}
            </div>
            <span>
  {% for tag in post.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="{{ domain }}{{site.baseurl}}/tag/tagpage.html?id={{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
  {% endfor %}
</span>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                <span class="button uk-button-text">
                Read more &rarr;</span>
              </a>
      </div>
    <!-- </div> -->
      </article>
      <hr>
      <br>
      </li>
      <br>
      <br>
      <br>
<!-- 
            <div class="uk-card-header">
                <h1 class="uk-article-title">{{ post.title | escape }}</h1>
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <p class="uk-text-meta uk-margin-remove-top"><time datetime="{{ post.date | date_to_xmlschema }}">
                            {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
                            {{ post.date | date: date_format }}
                        </time></p>
                </div>
            </div>
      <div class="uk-card-badge ">           
  {% for tag in post.tags %}
 <div class ="uk-label">
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tag/tagpage/index.html?id={{ tag_name }}" style="color:white">{{ tag_name }}</a>
    </div>
    {% endfor %}

</div>
   <div class = "uk-card-body">
                {{ post.excerpt  }}
            </div>
            <div class="uk-card-footer"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                <span class="button uk-button-text">
                Read more &rarr;</span>
              </a>
            </div>

        </div>
        <hr>
        <br>
        <br>
 --> 
  {% endif %}
{% endfor %}
</ul>
{% endfor %}
	</div>

	
<hr>
	
<script type="text/javascript">
		var link = window.location.href.split("?")[1].split("=")[1];
		console.log(link);

		var div = document.getElementById("post");
		var postuls = div.getElementsByTagName("ul");
		for(var i =0;i<postuls.length;i++){
			var head  = postuls[i].getElementsByTagName("h1")[0];
			if(head.innerHTML == link){
				div.setAttribute("style","display:active");
				postuls[i].setAttribute("style","display:active");
			}
		}

	</script>
